*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sem serifa;
}    

.superior {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    background-color:#515052;
    padding-top: 5px;
}
.portfolio {
    color: white;

    font: 80px;
    font-weight: 100px;
    font-size: 30px;

}
.portfolio spam {
    color: red;
    font-size: 30px;
}

.superior li {
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 150px;
    margin-right: 15px;
    cursor: pointer

}

.sperior li:hover{
    color: red;
    transform: scale(1.3);
    transition: 1s;
}

.link-menu{
    text-decoration: none;
    color: white;
}

.link-menu:hover{
    color: red;
    transform: scale(1.3);
    transition: 1s;
}

.caixa-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #333138;
}

.background{
    display: flex;
    width: 50%;
}

.nome {
    color: white;
    font-size: 30px;

}
.nome h1 spam {
    color: red;
}
.nome h3 {
    font-size: 25px;
}

section {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 170px ;

}

.foto {
    display: flex;
    width: 60%;
    border-radius: 60px;
    border: 2px solid rgb(187, 174, 174);
    cursor: pointer;
    justify-items: center;
   
}

.fundo{
    background-image: url(./fundo.jpg);
    background-size: cover;
    background-position: center;
    
   
}

.foto:hover {
    transform: scale(1.3);
    transition: 2s;
    
}

.sobre-mim {
    display: flex;
    align-items: center;
    display: inline-block;
    text-align: left;
    background-color: black;
    border-radius: 40px;
    border: 2px solid rgb(187, 174, 174);
    width: 50%;
    height: 110%;
    
}

section div h2 {
    color: white;
    font-size: 60px;
    margin-left: 10px;
}

section div p {
    color: rgb(216, 166, 166);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 12px;
}

section div button {
    color: white;
    background-color: red;
    cursor: pointer;
    width: 160px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    
    
}

section div button:hover {
    background-color: transparent;
    border: 2px solid red;
    transition: 2s;
    transform: scale(1.2);
}

.projetos {
 
    height: 100vh;
    background-color: #515052;
    width: 100%;
    justify-content: center;
   
}

.projetos h2 {
    color: white;
    font-size: 50px;
    text-align: center;

}

.card {
    display: inline-block;
    background-color: black;
    width: 30%;
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 50px;
    text-align: center;
    justify-content: center;
    
    
}

.card img{
   
    border-radius: 30px;
    width: 80%;
    position: relative;
    padding: 20px;
    
}

.card img:hover{
    transform: scale(1.2);
    transition: 2s;

}

.card h5 {
    color: white;
    font-size: 24px;
    text-align: left;

}

.card p {
    color: rgb(216 166, 166);
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: left;

}

.card a {
    background-color: red;
    color: white;
    padding:  10px 20px;
    border-radius: 25px;
    cursor: pointer;
    align-items: center;
    margin-bottom: 30px;
}

.card a:hover {
    background-color: transparent;
    border: 2px solid red;
    transform: scale(1,2);
    transition: 2s;
}

.cards-projetos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
    padding-bottom: 20px;
}

footer{
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}

.rodape h5 {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
}

.rodape p {
    color: white;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}

.social img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.social a {
    background-color: red;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.social a:hover{
    transform: scale(1.2);
    transition: 1s;
}

.social{
    display: flex;
    gap: 18px
    
}